## 1.5 整数と繰り返し

In [1]:
# 例題 100
for i in range(100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [2]:
# 例題 棒
def plot_bar(length):
    bar = ""
    for _ in range(length):
        bar += "*"
    print(bar)

plot_bar(70)

**********************************************************************

In [3]:
# 例題 長方形
def plot_sqare(col_length, line_length):
    line = ""
    for _ in range(line_length):
        line += "*"
    for _ in range(col_length):
        print(line)

plot_sqare(3, 4)

****
****
****

In [4]:
# 例題 三角1
def plot_triangle(scale):
    for i in range(scale):
        col = ""
        for _ in range(i+1):
            col += "*"
        print(col)

plot_triangle(3)

*
**
***

## 1.6 条件分岐

In [5]:
# 例題 偶数奇数
def judge_even_or_odd(num):
    if num%2==0:
        print(num, "even")
    else:
        print(num, "odd")

for i in range(10):
    judge_even_or_odd(i)

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd

In [6]:
# 問題 九九

import numpy as np
import pandas as pd


def p99():
    nums = np.arange(1,10)
    X = []
    for i in range(1, 10):
        mults = []
        for j in range(1, 10):
            mults.append(i*j)
        X.append(mults)
    return pd.DataFrame(X, index=nums, columns=nums)
p99()

   1   2   3   4   5   6   7   8   9
1  1   2   3   4   5   6   7   8   9
2  2   4   6   8  10  12  14  16  18
3  3   6   9  12  15  18  21  24  27
4  4   8  12  16  20  24  28  32  36
5  5  10  15  20  25  30  35  40  45
6  6  12  18  24  30  36  42  48  54
7  7  14  21  28  35  42  49  56  63
8  8  16  24  32  40  48  56  64  72
9  9  18  27  36  45  54  63  72  81

In [7]:
# 問題 三角2
def plot_triangle_reverse(scale):
    for i in range(scale, 0, -1):
        line = ""
        for _ in range(i):
            line += "*"
        print(line)

plot_triangle_reverse(4)

****
***
**
*

In [8]:
# 問題 矢印

def plot_arrow(N):
    for i in range(2*N+1):
        if i <= N:
            line=" "*(N-i) + "*"*(2*i+1) + " "*(N-i)
        else:
            line=" "*N + "*" + " "*N
        print(line)

plot_arrow(4)

    *
   ***
  *****
 *******
*********
    *
    *
    *
    *

In [9]:
# 森
def func(n):
    return 2*n+1

def plot_forest(nums):
    max_num = max(nums)
    for i in range(func(max_num)):
        line = ""
        for num in nums:
            if i < func(max_num) - func(num):
                line += " "*func(num)
            elif i < func(max_num)- func(num) + num+1:
                line +=\
                " "*(num-(i-func(max_num)+func(num)))\
                + \
                "*"*(2*(i-func(max_num)+func(num))+1)\
                + \
                " "*(num-(i-func(max_num)+func(num)))
            else:
                line += " "*num + "*" + " "*num
        print(line)

plot_forest([1,5, 2, 1,3,4])

        *
       ***
      *****                      *
     *******                    ***
    *********            *     *****
   ***********          ***   *******
        *       *      ***** *********
        *      ***    *******    *
 *      *     ***** *    *       *
***     *       *  ***   *       *
 *      *       *   *    *       *